body{
    height: unset;
}

.inner.cover{
    width:100vw
}

.projects-container{  
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 250px;
    margin: 20px;
    background-color: #353535;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(25 102 150);
}

@media (max-width: 600px)
{
    .project-card {
        width: 80vw;
    }
}

.profileImg {
    width: 150px;
    border-radius: 50%;
}